PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "user_old" (
	id INTEGER NOT NULL, 
	name VARCHAR(100), 
	email VARCHAR(120), 
	created_on DATETIME, is_onboarded BOOLEAN DEFAULT 0, role TEXT, is_verified BOOLEAN DEFAULT 0, is_approved BOOLEAN DEFAULT 1, 
	PRIMARY KEY (id), 
	UNIQUE (email)
);
INSERT INTO user_old VALUES(1,'Anonymous',NULL,'2025-08-28 07:42:58.318540',0,NULL,0,1);
INSERT INTO user_old VALUES(2,'Sachin Prajapati','sachin.prajapati23@ds.sce.edu.in','2025-08-28 07:49:29.800457',0,NULL,0,1);
CREATE TABLE doctor (
	id INTEGER NOT NULL, 
	specialist VARCHAR(100), 
	description VARCHAR(255), 
	image VARCHAR(255), 
	PRIMARY KEY (id)
);
INSERT INTO doctor VALUES(1,'General Physician','','');
INSERT INTO doctor VALUES(2,'Orthopedic','','');
INSERT INTO doctor VALUES(3,'Psychologist','','');
CREATE TABLE consultation (
	id INTEGER NOT NULL, 
	session_id VARCHAR(100), 
	notes TEXT, 
	selected_doctor VARCHAR(100), 
	user_id INTEGER, 
	created_on DATETIME, report TEXT, messages JSON, email TEXT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user_old" (id)
);
INSERT INTO consultation VALUES(1,NULL,'i have chest pain','Cardiologist',1,'2025-08-27 08:09:22.775397',NULL,NULL,'anonymous@example.com');
INSERT INTO consultation VALUES(2,NULL,'i have chest pain','Cardiologist',1,'2025-08-27 08:09:48.430682',NULL,NULL,'anonymous@example.com');
INSERT INTO consultation VALUES(3,NULL,'i have chest pain','Cardiologist',1,'2025-08-27 08:19:57.044413',NULL,NULL,'anonymous@example.com');
CREATE TABLE patient (
	id INTEGER NOT NULL, 
	age INTEGER, 
	gender VARCHAR(20), 
	blood_group VARCHAR(10), 
	medical_history TEXT, 
	created_on DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(id) REFERENCES "user_old" (id)
);
CREATE TABLE DoctorList (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    full_name VARCHAR(150),
    specialization VARCHAR(100),
    license_no VARCHAR(100),
    experience_years INTEGER,
    hospital VARCHAR(150),
    is_approved BOOLEAN DEFAULT 0,
    created_on DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(user_id) REFERENCES "user_old"(id)
);
CREATE TABLE PatientList (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    full_name VARCHAR(150),
    age INTEGER,
    gender VARCHAR(20),
    blood_group VARCHAR(10),
    medical_history TEXT,
    created_on DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(user_id) REFERENCES "user_old"(id)
);
CREATE TABLE patient_list (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	full_name VARCHAR(150), 
	age INTEGER, 
	gender VARCHAR(20), 
	blood_group VARCHAR(10), 
	medical_history TEXT, 
	created_on DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user_old" (id)
);
CREATE TABLE doctor_list (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	full_name VARCHAR(150), 
	specialization VARCHAR(100), 
	license_no VARCHAR(100), 
	experience_years INTEGER, 
	hospital VARCHAR(150), 
	is_approved BOOLEAN, 
	created_on DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user_old" (id)
);
CREATE TABLE user (
    id INTEGER PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(120),
    role TEXT,
    created_on DATETIME
, clerk_id);
INSERT INTO user VALUES(1,'Anonymous',NULL,NULL,'2025-08-28 07:42:58.318540',NULL);
INSERT INTO user VALUES(2,'Sachin Prajapati','sachin.prajapati23@ds.sce.edu.in',NULL,'2025-08-28 07:49:29.800457',NULL);
INSERT INTO user VALUES(3,'Sachin Prajapati','sachinprajapati2622@gmail.com','patient','2025-09-21 11:49:20.950688',NULL);
CREATE TABLE categories (
	id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	image VARCHAR(255) NOT NULL, 
	PRIMARY KEY (id)
);
DELETE FROM sqlite_sequence;
COMMIT;
